.logo {
  font-family: 'Modak', cursive;
  letter-spacing: 2px;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(241, 243, 245);
}

nav .logo {
  color: rgb(55, 65, 75);
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: rgb(85, 101, 117);
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: rgb(31, 30, 30);
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  z-index: 2;
}

/* Hamburger Menu */
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(85, 101, 117);
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* Responsive Breakpoint */

/* tablet size */
@media screen and (max-width: 900px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 0;
    height: 100vh;
    align-items: center;
    background-color: rgb(241, 243, 245);
    justify-content: space-evenly;
    z-index: -1;
    width: 80%;
    transition: all 1s;
    opacity: 0;
  }

  .menu-toggle {
    display: flex;
  }

  nav ul.slide {
    opacity: 1;
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: rgb(29, 43, 54);
  justify-content: space-evenly;
  align-items: center;
}

footer .section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

footer .section-1 .logo {
  color: rgb(255, 255, 255);
}

footer .section-1 ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

footer .section-1 ul li:first-child {
  color: rgb(255, 255, 255);
}

footer .section-1 ul li a {
  text-decoration: none;
  color: rgb(147, 161, 176);
  font-size: 0.8em;
}

footer .section-1 ul li a:hover {
  color: rgb(213, 221, 230);
}

footer .section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

footer .section-2 ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 85px;
}

footer .section-2 ul li {
  width: 20px;
  height: 20px;
}

footer .section-2 p {
  color: rgb(147, 161, 176);
  font-size: 0.8em;
}

footer hr {
  width: 65%;
}

/* Responsive Breakpoint */

/* tablet size */
@media screen and (max-width: 900px) {
  footer .section-1 {
    width: 75%;
  }
  footer .section-2 {
    width: 75%;
  }
  footer hr {
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  footer .section-1 {
    flex-direction: column;
    text-align: center;
  }
  footer .section-2 {
    flex-direction: column;
    text-align: center;
  }
}
